aside {
  background-color: var(--cinza-escuro);
  padding: 2.5em 1em;
  width: 177px;
  border-radius: 8px;
}

.lista-sidebar {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  list-style-type: none;
  margin-top: 5em;
}


.lista-sidebar li a{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
}

.item__link {
  color: var(--cinza-claro);
}

.link__item-ativo {
  color: var(--branco);
}

.link__item-publicacao {
color: var(--verde-destaque);
border: 1px solid var(--verde-destaque);
padding: 12px 30px;
border-radius: 8px;
}