.container {
  display: flex;
  width: 1200px;
  margin: 3.5em auto;
  gap: 1.68em;
}

.container-conteudo {
  flex-grow: 1;
}

.container .lista-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.container .lista-cards li {
  list-style: none;
}